.companysection {
  margin-top: 180px;
  padding-top: 180px;
  background-color: aqua;
}

// .insidecompanydiv {
//   margin: auto;
//   max-width: $max-content-width;
//   display: flex;
//   flex-direction: column;
// }

// .csection-1 {
//   flex: 1;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

// .csection-2 {
//   flex: 1;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 1rem 0;
// }
