.customsection {
  margin-top: 80px;
}

.insidecustomdiv {
  margin: auto;
  max-width: $max-content-width;
  display: flex;
}

.customsection-1 {
  flex: 1;
}

.customsection-2 {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: right;
}

.custombigtext {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  text-transform: capitalize;
  max-width: 90%;
}

.customsmalltext {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  padding-right: 15rem;
}

.customcontactusbutton {
  margin-top: 50px;
  padding-left: 0;
  background-color: #8eadd5;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 24px;
  text-decoration: none;
  line-height: 27.5px;
  text-transform: uppercase;
}
