.desktopHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $max-content-width;
  margin: auto;
  align-items: center;
}

.hda {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.navheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.navheader ul.navheader li {
  display: flex;
  padding-left: 2rem;
  align-items: center;
}
